%h3="New season in #{@tour.name}"
%p.callout
  A new season was created (and the previous one archived).
= link_to 'Go to tour', @url, class: 'btn'
%br
%br
%p="Lets get that clubs cleaned! <br />Kim".html_safe
