%h3="Hi #{@user.name}, you have requested to reset your password."

%p.callout="To choose a new password, just follow this link: <br />#{link_to @url, @url}".html_safe

%p="Have a wonderful day,<br>Kim".html_safe
