%h3="Welcome to Simple Golftour #{@user.name}"

%p.lead="Here is what you can do now...."

%p.callout=" #{link_to 'Go create and/or join a tour, invite your friends and start the bantering', @url}".html_safe

%p="Wishing you alot of birdies,<br>Kim".html_safe
